<div class="p-3">
  <form [formGroup]="messagesForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <!-- input field: userName  -->
      <div class="col-md-6">
        <div class="position-relative mb-3">
          <div class="text-start">
            @if (messagesForm.get('name')?.getError("required") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >مطلوب*</small
            >
            } @if (messagesForm.get('name')?.getError("minlength") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >اقل عدد احرف 3*</small
            >
            }
          </div>
          <div>
            <input
              [ngClass]="{
                'is-invalid':
                  startValidation &&
                  (messagesForm.get('name')?.getError('required') ||
                    messagesForm.get('name')?.getError('pattern'))
              }"
              type="text"
              class="form-control h-100 py-3"
              id="name"
              placeholder="الاسم"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <!-- input field: userPhone  -->
      <div class="col-md-6">
        <div class="position-relative mb-3">
          <div class="text-start">
            @if (messagesForm.get('phone')?.getError("required") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >مطلوب*</small
            >
            } @if (messagesForm.get('phone')?.errors && startValidation &&
            phone.value?.length || 0 > 0) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >رقم هاتف غير صالح*</small
            >
            }
          </div>
          <ngx-intl-tel-input
            #phone
            [cssClass]="
              startValidation && messagesForm.get('phone')?.errors
                ? 'form-control h-100 py-3 is-invalid text-end'
                : 'form-control h-100 py-3 text-end'
            "
            [preferredCountries]="[CountryISO.SaudiArabia]"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="false"
            customPlaceholder="الهاتف"
            [searchCountryFlag]="true"
            [searchCountryField]="[
              SearchCountryField.Iso2,
              SearchCountryField.Name
            ]"
            dir="ltr"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.SaudiArabia"
            [maxLength]="15"
            [phoneValidation]="true"
            name="phone"
            formControlName="phone"
          ></ngx-intl-tel-input>
          <!-- [dir]="'rtl'" -->
        </div>
      </div>
      <!-- input field: userEmail  -->
      <div class="col-md-12">
        <div class="position-relative mb-3">
          <div class="text-start">
            @if (messagesForm.get('email')?.getError("required") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >مطلوب*</small
            >
            } @if (messagesForm.get('email')?.getError("email") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >ايميل غير صالح*</small
            >
            }
          </div>
          <div>
            <input
              [ngClass]="{
                'is-invalid':
                  startValidation &&
                  (messagesForm.get('email')?.getError('required') ||
                    messagesForm.get('email')?.getError('email'))
              }"
              type="email"
              class="form-control py-3"
              id="email"
              formControlName="email"
              placeholder="الايميل"
            />
          </div>
        </div>
      </div>
      <!-- input field: userMessage  -->
      <div class="col-md-12">
        <div class="position-relative mb-3">
          <div class="text-start">
            @if (messagesForm.get('message')?.getError("required") &&
            startValidation) {
            <small
              class="text-danger fst-italic fw-bold position-absolute bottom-100 start-0"
              >مطلوب*</small
            >
            }
          </div>
          <div>
            <textarea
              [ngClass]="{
                'is-invalid':
                  startValidation &&
                  messagesForm.get('message')?.getError('required')
              }"
              style="height: 150px"
              class="form-control py-3"
              placeholder="اكتب رسالتك"
              id="message"
              formControlName="message"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- submit button  -->
      <div class="text-center col-md-12">
        <button
          class="btn-main btn rounded-3 mx-auto col-6 px-4 title__fonts fw-bold py-3 text-uppercase fs-14"
        >
          ارسال
        </button>
      </div>
    </div>
  </form>
</div>
