<app-blank-navbar />
<section id="Contact__Us" class="my-5">
  <div class="container">
    <h2 class="text-center"><span>تواصل معنا</span> نحن لدينا فريق دعم مميز</h2>
    <div class="row text-center g-4 my-5 flex-row-reverse">
      <div class="col-md-4">
        <div class="card py-4 box-shadow-contact h-100">
          <img
            class="logo"
            src="./assets/images/about_us/support-online-center.png"
            alt="support online center"
          />
          <h3 class="my-3">الدعم</h3>
          <ul>
            <li class="d-inline-block">
              البريد الإلكتروني : info&commat;asda-alkhaleej.com
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-4 box-shadow-contact h-100">
          <img
            class="logo"
            src="./assets/images/about_us/earth.png"
            alt="support online center"
          />
          <h3 class="my-3">الموقع</h3>
          <ul>
            <li class="d-inline-block">
              العنوان: المملكة العربية السعودية – المنطقة الشرقية
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card py-4 box-shadow-contact h-100">
          <img
            class="logo"
            src="./assets/images/about_us/Group.png"
            alt="support online center"
          />
          <h3 class="my-3">الدعم و المساعدة</h3>
          <ul>
            <li class="d-inline-block">الهاتف : 966531964880+</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <app-contact-us-form />
    </div>
  </div>
</section>
