@import "variables";

.navbar__banner {
  img {
    // box model
    width: 77px;
    // height: 35px;
  }
  .Banner_logo:first-child {
    width: 56px;
    height: 56px;
  }
  .Banner_logo:nth-child(2) {
    width: 24px;
    height: 21px;
  }
}
.social__icons {
  a img {
    width: 24px;
    height: 24px;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Search Input */
.search_container {
  position: relative;
  max-width: 400px;
}
.search_icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 35px;
}
#Search_Input {
  width: 100%;
  background-color: $main-color;
  border: none;
  padding: 8px 20px 8px 50px;
  transition: 0.5s all;

  caret-color: white;
}
#Search_Input:focus,
#Search_Input:hover {
  background-color: white;
  & + button .search-dark {
    display: inline-block !important;
  }
  & + button .search-light {
    display: none !important;
  }
}

.nav-link {
  text-wrap: nowrap;
}
