<nav>
  <!-- navbar banner -->
  <div class="container navbar__banner py-2 d-flex justify-content-between">
    <div class="d-flex justify-content-between align-items-center gap-3">
      <img
        routerLink="/"
        class="Banner_logo cr"
        src="./assets/images/logo.png"
        alt="اصداء الخليج"
      />
      <img
        class="Banner_logo"
        src="./assets/images/navbar/calender_logo.png"
        alt="التاريخ"
      />
      <time class="d-none d-sm-inline">{{ nowDate | hijriDate }} هـ</time>
    </div>
    <div
      class="d-flex justify-content-center align-items-center gap-4 flex-row-reverse"
    >
      <img
        src="./assets/images/navbar/logo.png"
        alt="رؤية المملكة العربية السعودية"
      />
      <div class="social__icons d-none d-sm-block">
        <ul class="list-unstyled p-0 m-0 d-flex flex-row-reverse gap-1">
          @for (link of socialLinks; track $index) {
          <li>
            <a
              [href]="link.url"
              target="_blank"
              [attr.aria-label]="'find us on ' + link.label"
            >
              <img [src]="link.icon" [alt]="link.alt" />
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <!-- nav bar banner -->
  <div class="navbar navbar-expand-lg bg-main flex-row-reverse">
    <div
      class="container flex-row-reverse w-100 d -flex justify-content-between"
    >
      <div class="search_container">
        <input
          #inputSearch
          (keydown.enter)="
            searchResults(inputSearch.value); inputSearch.value = ''
          "
          id="Search_Input"
          type="search"
          class="search Input border-radius-10"
        />
        <img
          (click)="searchResults(inputSearch.value); inputSearch.value = ''"
          class="search_icon cr d-none"
          width="45px"
          src="./assets/images/navbar/search-dark.svg"
          alt="search icon"
        />
        <img
          (click)="searchResults(inputSearch.value); inputSearch.value = ''"
          class="search_icon cr"
          width="45px"
          src="./assets/images/navbar/search-light.svg"
          alt="search icon"
        />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img
          width="35px"
          height="35px"
          src="./assets/images/navbar/bars-solid.svg"
          alt=""
        />
      </button>

      <div
        class="collapse me-auto navbar-collapse flex-row-reverse justify-content-end"
        id="navbarNav"
      >
        <ul class="navbar-nav justify-content-between p-0">
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              aria-current="page"
              routerLink="/"
              >الرئيسية</a
            >
          </li>
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '01']"
              >أخبار محلية</a
            >
          </li>
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '02']"
              >أخبار العالم</a
            >
          </li>
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '03']"
              >الرياضة</a
            >
          </li>
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', 'f']"
              >ثقافة و فن</a
            >
          </li>
          <li class="nav-item mx-1">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '04']"
              >الاقتصاد</a
            >
          </li>
          <li class="nav-item mx-1 d-none d-xl-block">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '05']"
              >التعليم</a
            >
          </li>
          <li class="nav-item mx-1 d-none d-xl-block">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/article', '08']"
              >المقلات</a
            >
          </li>

          <li class="nav-item drop-down-container mx-1 position-relative z-3">
            <a class="nav-link px-1 px-md-2 px-xl-3">
              اخري
              <img
                src="./assets/images/navbar/navbar-dropdown-icon.svg"
                role="presentation"
              />
            </a>
            <ul
              class="drop-down-nav overflow-hidden end-0 border-radius-10 list-unstyled position-absolute z-3 bg-light box-shadow p-0 m-0 justify-content-between flex-column"
            >
              <li class="pe-3 py-2 d-xl-none">
                <a class="text-black" [routerLink]="['/archives/blogs', '05']"
                  >التعليم</a
                >
              </li>
              <li class="pe-3 py-2 d-xl-none">
                <a class="text-black" [routerLink]="['/archives/article', '08']"
                  >المقلات</a
                >
              </li>

              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', 'i']"
                  >تحقيقات</a
                >
              </li>
              <li class="text-black">
                <a
                  class="nav-link px-1 px-md-2 px-xl-3"
                  [routerLink]="['/archives/blogs', '09']"
                  >اخبار المجتمع</a
                >
              </li>
              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', '07']"
                  >دراسات وابحاث</a
                >
              </li>

              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', '11']"
                  >كاريكاتير</a
                >
              </li>
              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', 'g']"
                  >الصحة والحياه</a
                >
              </li>
              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', '06']"
                  >علوم و تكنولوجا</a
                >
              </li>
              <li class="pe-3 py-2">
                <a class="text-black" [routerLink]="['/archives/blogs', 'h']"
                  >وقائع امنية</a
                >
              </li>
              <li class="pe-3 py-2 border-top border-1">
                <a class="text-black" [routerLink]="['/archives/blogs', '10']"
                  >زاوية رئيس التحرير</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
