<nav>
  <!-- navbar banner -->
  <div
    class="container navbar__banner py-2 d-flex justify-content-between align-items-center flex-wrap"
  >
    <div class="d-flex justify-content-between align-items-center gap-3">
      <a routerLink="/" href="#">
        <img
          height="40px"
          width="40px"
          class="Banner_logo object-fit-contain cr"
          src="./assets/images/new_logos/logo_blue_no_text.png"
          alt="اصداء الخليج"
        />
      </a>
      <img
        class="Banner_logo"
        src="./assets/images/navbar/calender_logo.png"
        alt="التاريخ"
      />
      <time class="d-none d-sm-inline">{{ nowDate | hijriDate }} هـ</time>
    </div>
    <!-- <div>
      <span class="d-block text-main fs-13">مدعوم بالذكاء الاصطناعي</span>
    </div> -->
    <div>
      <h2 class="h6">رئيس التحرير/ سلمان بن احمد العيد</h2>
    </div>
    <div
      class="d-flex justify-content-between justify-content-lg-start align-items-center gap-4 flex-row-reverse flex-grow-1 mt-3 mt-lg-0"
    >
      <img
        src="./assets/images/new_logos/first_banner.png"
        alt="رؤية المملكة العربية السعودية"
      />
      <img
        src="./assets/images/new_logos/second_banner.png"
        alt="رؤية المملكة العربية السعودية"
      />
      <img
        src="./assets/images/navbar/logo.png"
        alt="رؤية المملكة العربية السعودية"
      />
      <div class="social__icons d-none d-sm-block">
        <ul class="list-unstyled p-0 m-0 d-flex flex-row-reverse gap-1">
          @for (link of socialLinks; track $index) { @if(link.icon) {
          <li>
            <a
              [href]="link.url"
              target="_blank"
              [attr.aria-label]="'find us on ' + link.label"
            >
              <img [src]="link.icon" [alt]="link.alt" />
            </a>
          </li>
          } }
        </ul>
      </div>
    </div>
  </div>

  <!-- nav bar banner -->
  <div class="navbar navbar-expand-lg bg-main flex-row-reverse">
    <div
      class="container flex-row-reverse w-100 d -flex justify-content-between"
    >
      <div class="search_container">
        <input
          [(ngModel)]="searchResult"
          #inputSearch
          (keydown.enter)="searchResults(inputSearch.value)"
          [style]="{
            'background-color': searchResult.length > 0 ? 'white' : ''
          }"
          id="Search_Input"
          type="search"
          class="search Input border-radius-10"
          aria-label="Search"
        />
        <button
          class="btn search_icon bg-transparent"
          (click)="searchResults(inputSearch.value)"
        >
          <img
            [style]="{
              display: searchResult.length > 0 ? 'inline-block !important' : ''
            }"
            class="d-none search-dark"
            width="40px"
            src="./assets/images/navbar/search-dark.svg"
            alt="search icon"
          />
          <img
            [style]="{
              display: searchResult.length > 0 ? 'none !important' : ''
            }"
            class="search-light"
            width="40px"
            src="./assets/images/navbar/search-light.svg"
            alt="search icon"
          />
        </button>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img
          width="35px"
          height="35px"
          src="./assets/images/navbar/bars-solid.svg"
          role="presentation"
        />
      </button>

      <div
        class="collapse me-auto navbar-collapse flex-row-reverse justify-content-end"
        id="navbarNav"
      >
        <ul class="navbar-nav justify-content-between p-0">
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              aria-current="page"
              routerLink="/"
              href="#"
              >الرئيسية</a
            >
          </li>
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '01']"
              href="#"
              >أخبار محلية</a
            >
          </li>
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '02']"
              href="#"
              >أخبار العالم</a
            >
          </li>
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '03']"
              href="#"
              >الرياضة</a
            >
          </li>
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', 'f']"
              href="#"
              >ثقافة وفن</a
            >
          </li>
          <li
            class="nav-item mx-1"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '04']"
              href="#"
              >الاقتصاد</a
            >
          </li>
          <li data-bs-toggle="collapse" class="nav-item mx-1 d-none d-xl-block">
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/blogs', '05']"
              href="#"
              >التعليم</a
            >
          </li>
          <li
            data-bs-target="#navbarNav"
            class="nav-item mx-1 d-none d-xl-block"
          >
            <a
              class="nav-link px-1 px-md-2 px-xl-3"
              [routerLink]="['/archives/article', '08']"
              href="#"
              >المقالات</a
            >
          </li>

          <li class="nav-item drop-down-container mx-1 position-relative z-3">
            <button class="nav-link px-1 px-md-2 px-xl-3 btn text-white">
              أخرى
              <img
                src="./assets/images/navbar/navbar-dropdown-icon.svg"
                role="presentation"
              />
            </button>
            <ul
              class="drop-down-nav overflow-hidden end-0 border-radius-10 list-unstyled position-absolute z-3 bg-light box-shadow p-0 m-0 justify-content-between flex-column"
            >
              <li data-bs-toggle="collapse" class="pe-3 py-2 d-xl-none">
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', '05']"
                  href="#"
                  >التعليم</a
                >
              </li>
              <li data-bs-target="#navbarNav" class="pe-3 py-2 d-xl-none">
                <a
                  class="text-black"
                  [routerLink]="['/archives/article', '08']"
                  href="#"
                  >المقالات</a
                >
              </li>

              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', 'i']"
                  href="#"
                  >تحقيقات</a
                >
              </li>
              <li class="text-black">
                <a
                  class="nav-link px-1 px-md-2 px-xl-3"
                  [routerLink]="['/archives/blogs', '09']"
                  href="#"
                  >أخبار المجتمع</a
                >
              </li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', '07']"
                  href="#"
                  >دراسات وأبحاث</a
                >
              </li>

              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', '11']"
                  href="#"
                  >كاريكاتير</a
                >
              </li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', 'g']"
                  href="#"
                  >الصحة والحياة</a
                >
              </li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', '06']"
                  href="#"
                  >علوم وتكنولوجيا</a
                >
              </li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', 'h']"
                  href="#"
                  >وقائع أمنية</a
                >
              </li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="pe-3 py-2 border-top border-1"
              >
                <a
                  class="text-black"
                  [routerLink]="['/archives/blogs', '10']"
                  href="#"
                  >زاوية رئيس التحرير</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
