<section class="chat">
  <!-- Chatbox Button (fixed to the bottom right) -->
  <button
    (click)="toggleChat()"
    pButton
    class="chat-toggle-btn"
    pTooltip="تحدث مع الذكاء الاصطناعي"
    tooltipStyleClass="custom-tooltip w-auto text-nowrap"
    tooltipPosition="top"
  >
    <img
      src="/assets/images/ai/ai-03.png"
      alt="Chat Icon"
      class="chat-icon shake-rotate"
    />
  </button>
  <!-- Chatbox Button (fixed to the bottom right) -->
  <button
    (click)="showTime()"
    pButton
    class="chat-toggle-btn copy"
    tooltipPosition="top"
  >
    <i class="pi pi-copy"></i>
  </button>
  <!-- Chatbox Container (fixed to the bottom right) -->
  <p-panel
    *ngIf="chatVisible"
    [style]="{ width: '500px' }"
    [collapsed]="false"
    [styleClass]="isFullscreen ? 'fullscreen' : ''"
    class="chat-box"
    [styleClass]="'rtl-chatbox'"
  >
    <ng-template pTemplate="header">
      <span>مساعدكم الذكي في الخدمة</span>
      <button
        pButton
        icon="pi pi-window-maximize"
        class="fullscreen-btn"
        (click)="toggleFullscreen()"
        tooltip="التبديل إلى وضع ملء الشاشة"
      ></button>
    </ng-template>

    <div class="chat-body">
      <p>أهلاً وسهلاً بكم مع مساعدكم الذكي في صحيفة أصداء الخليج</p>

      <!-- Chat Messages -->
      <div class="chat-messages">
        <div
          #Answer
          *ngFor="let message of messages"
          [ngClass]="{
            'user-message': message.isUser,
            'bot-message': !message.isUser
          }"
        >
          {{ message.text }}
          <div *ngIf="isLoading" class="loading-dots">
            <span>.</span><span>.</span><span>.</span>
          </div>
        </div>
      </div>

      <!-- Chat Input Area -->
      <div class="chat-input">
        <input
          [(ngModel)]="userMessage"
          type="text"
          placeholder="اكتب رسالتك..."
          (keydown.enter)="sendMessage()"
        />
        <button
          class="flex-grow-1"
          pButton
          icon="pi pi-send"
          label="إرسال"
          (click)="sendMessage()"
        ></button>
      </div>
    </div>
  </p-panel>

  @defer (on timer(500) ) {
  <p-dialog
    [modal]="true"
    [closable]="true"
    styleClass="custom-dialog"
    draggable="false"
    styleClass="bg-transparent"
    [(visible)]="showTimeDiv"
    [position]="position"
    [style]="{ width: 'auto', background: 'transparent' }"
    #dialog
    (click)="showTime()"
  >
    <ng-template pTemplate="headless">
      <!-- Speech Bubble -->
      <div class="speech-bubble">
        <p>{{ message }}</p>
      </div>
      <img
        src="./assets/images/ai/ai-02.png"
        role="presentation"
        width="500px"
      />
    </ng-template>
  </p-dialog>

  }
</section>
