@if (writers.length > 0) {
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <button
        pButton
        pRipple
        label="إضافة كاتب"
        icon="pi pi-plus"
        class="btn-main col-4"
        style="margin-bottom: 10px; padding-block: 16px !important"
        (click)="openAddWriterDialog()"
      ></button>
      <p-table
        #dt
        [value]="writers"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="100"
        [globalFilterFields]="['writer_name']"
        [rowsPerPageOptions]="[100, 500, 1000]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} إدخالات"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">إدارة المؤلفين</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                #globalFilter
                pInputText
                type="text"
                placeholder="ابحث..."
                class="w-full sm:w-auto"
                (input)="dt.filterGlobal(globalFilter.value, 'contains')"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" class="text-center">
              معرف <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>اسم الكاتب</th>
            <th pSortableColumn="writer_status">
              الحالة <p-sortIcon field="writer_status"></p-sortIcon>
            </th>
            <th>تاريخ الإنشاء</th>
            <th>تاريخ التحديث</th>
            <th class="text-center">التحكم</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-writer>
          <tr>
            <td class="col-1 text-center">
              <span class="p-column-title">معرف</span>
              {{ writer.id }}
            </td>
            <td class="col-3">
              <span class="p-column-title">اسم الكاتب</span>
              {{ writer.writer_name }}
            </td>
            <td class="col-2">
              <span class="p-column-title">الحالة</span>
              <p-inputSwitch
                [(ngModel)]="writer.writer_status"
                [trueValue]="1"
                [falseValue]="0"
                (onChange)="toggleStatus(writer)"
              />
            </td>
            <td class="col-2">
              <span class="p-column-title">تاريخ الإنشاء</span>
              {{ writer.created_at | hijriDate }}
            </td>
            <td class="col-2">
              <span class="p-column-title">تاريخ التحديث</span>
              {{ writer.updated_at | hijriDate }}
            </td>
            <td class="col-1">
              <div class="flex justify-content-center gap-2">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="openEditWriterDialog(writer)"
                ></button>
                <!-- <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteWriter(writer)"
                  ></button> -->
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" style="height: 50vh">
              <div
                class="w-100 h-100 d-flex justify-content-center align-items-center"
              >
                لا يوجد كتاب ... <i class="pi pi-filter-slash"></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Writer Dialog for Adding and Editing -->
    <p-dialog
      [(visible)]="writerDialog"
      [style]="{ width: '450px' }"
      header="تفاصيل الكاتب"
      [modal]="true"
      class="p-fluid"
      [draggable]="false"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="writer_name">اسم الكاتب</label>
          <input
            type="text"
            pInputText
            id="writer_name"
            [(ngModel)]="selectedWriter.writer_name"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !selectedWriter.writer_name
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !selectedWriter.writer_name"
            >اسم الكاتب مطلوب.</small
          >
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="إلغاء"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="حفظ"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveWriter()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Delete Writer Confirmation Dialog -->
    <p-dialog
      [(visible)]="deleteWriterDialog"
      [style]="{ width: '450px' }"
      header="تأكيد الحذف"
      [modal]="true"
      class="p-fluid"
      [draggable]="false"
    >
      <ng-template pTemplate="content">
        <div class="confirmation-content">
          <i
            class="pi pi-exclamation-triangle mx-3 align-middle"
            style="font-size: 2rem"
          ></i>
          <span class="align-middle"
            >هل أنت متأكد أنك تريد حذف هذا الكاتب؟</span
          >
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="إلغاء"
          icon="pi pi-times"
          class="p-button-text"
          (click)="deleteWriterDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="حذف"
          icon="pi pi-check"
          class="p-button-text"
          (click)="confirmDeleteWriter()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}
