<div class="text-500 mb-4">
  <img
    class="ms-1 align-middle"
    src="./assets/images/pages/home/loca_news/clock-rotate-left-solid.png"
  />
  آخر زيارة في - <span class="text-main"> 1 جامدي الاول </span>
</div>
<div class="grid">
  <!-- Total Views -->
  <div class="col-12 lg:col-6 xl:col-3">
    <app-a-total-views />
  </div>

  <!-- Total Comments -->
  <div class="col-12 lg:col-6 xl:col-3">
    <app-b-total-comments />
  </div>

  <!-- Total Articles -->
  <div class="col-12 lg:col-6 xl:col-3">
    <app-c-total-articles />
  </div>

  <!-- Monthly Views -->
  <div class="col-12 lg:col-6 xl:col-3">
    <app-d-total-monthly-views />
  </div>
</div>

<!-- app.component.html -->
<div class="grid">
  <!-- Most Viewed Articles Table -->
  <div class="col-8">
    <app-table-b-most-views-blogs />
  </div>
  <!-- Most Viewed Articles Chart -->
  <div class="col-4">
    <app-table-a-most-views-blog-chart />
  </div>

  <!-- Most Viewed Blog Categories Table -->
  <div class="col-12 md:col-6 lg:col-6">
    <app-table-c-most-views-categories />
  </div>

  <!-- Recent Articles Table -->
  <div class="col-12 md:col-6 lg:col-6">
    <app-table-a-recent-articles />
  </div>

  <!-- Recent Comments Table -->
  <div class="col-12 md:col-6 lg:col-6">
    <app-table-d-most-commented />
  </div>

  <!-- Recent Contact Us Emails Table -->
  <div class="col-12 md:col-6 lg:col-6">
    <app-table-e-recent-messages />
  </div>
</div>
