<section id="Home__Articles" class="bg-white py-5">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title">اخبار ذات صلة</h2>
      <a href="" class="btn btn-show-all">عرض الكل</a>
    </header>
    <div class="row flex-row-reverse g-4">
      <div class="col-12 col-lg-3">
        <div class="bg-third border-radius-10 p-2">
          <app-advertising-area
            [positionClasses]="
              'd-flex flex-column justify-content-center gap-3 h-250 p-5 fs-5 fw-semibold'
            "
          />

          <div class="mt-2">
            <figure class="Logo_Water_Mark small">
              <img
                class="w-100 object-fit-cover h-110 border-radius-10"
                src="/assets/images/pages/home/tweets/2.png"
                alt="card.author"
              />
            </figure>
            <div
              class="d-flex justify-content-end align-items-center gap-2 mb-2 mt-3"
            >
              <div>
                <span class="align-middle fw-semibold fs-13 text-third">
                  1million
                </span>
                <img
                  class="align-middle"
                  src="/assets/images/pages/home/tweets/fire.png"
                  alt="comments"
                />
              </div>
            </div>
            <h3 class="fs-13 fw-bold mb-1">
              #خلال اسبوع ضبط 1902 مخالفا فى السعودية
            </h3>
            <div>
              <p class="mb-0 fs-13 desc_color">
                اكدت وزارة الداخلية ان كل من يسهل دخول مخالفىين يعرض نفسه
                لعقوبات تصل الى 15 سنة سجن
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-130"
              src="/assets/images/pages/home/tweets/4.png"
              alt="card.author"
            />
          </figure>
          <div
            class="d-flex justify-content-end align-items-center gap-2 mb-2 mt-3"
          >
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                2k
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/comment.png"
                alt="comments"
              />
            </div>
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                1million
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/fire.png"
                alt="comments"
              />
            </div>
          </div>
          <h3 class="fs-13 fw-bold mb-1">
            #خلال اسبوع ضبط 1902 مخالفا فى السعودية
          </h3>
          <div>
            <p class="mb-0 fs-13 desc_color">
              اكدت وزارة الداخلية ان كل من يسهل دخول مخالفىين يعرض نفسه لعقوبات
              تصل الى 15 سنة سجن
            </p>
          </div>
        </div>
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover h-130 border-radius-10"
              src="/assets/images/pages/home/tweets/3.png"
              alt="card.author"
            />
          </figure>
          <div
            class="d-flex justify-content-end align-items-center gap-2 mb-2 mt-3"
          >
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                2k
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/comment.png "
                alt="comments"
              />
            </div>
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                1million
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/fire.png"
                alt="comments"
              />
            </div>
          </div>
          <h3 class="fs-13 fw-bold mb-1">
            #خلال اسبوع ضبط 1902 مخالفا فى السعودية
          </h3>
          <div>
            <p class="mb-0 fs-13 desc_color">
              اكدت وزارة الداخلية ان كل من يسهل دخول مخالفىين يعرض نفسه لعقوبات
              تصل الى 15 سنة سجن
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-370"
              src="/assets/images/pages/home/tweets/1.png"
              alt="card.author"
            />
          </figure>
          <div
            class="d-flex justify-content-end align-items-center gap-2 mb-2 mt-3"
          >
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                2k
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/comment.png "
                alt="comments"
              />
            </div>
            <div>
              <span class="align-middle fw-semibold fs-13 text-third">
                1million
              </span>
              <img
                class="align-middle"
                src="/assets/images/pages/home/tweets/fire.png"
                alt="comments"
              />
            </div>
          </div>
          <h3 class="fs-13 fw-bold mb-1">
            #خلال اسبوع ضبط 1902 مخالفا فى السعودية
          </h3>
          <div>
            <p class="mb-0 fs-13 desc_color">
              اكدت وزارة الداخلية ان كل من يسهل دخول مخالفىين يعرض نفسه لعقوبات
              تصل الى 15 سنة سجن
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
