<app-blank-navbar />
@if (structure) {
<section class="container my-5">
  <h2 class="text-center my-5 fw-bold">الهيكل الإداري لصحيفة أصداء الخليج</h2>
  <div class="row justify-content-center">
    @for (person of structure; track $index) { @if (person.status) {
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="p-person-card">
        <img
          [src]="person.main_image"
          width="170px"
          height="170px"
          class="rounded-circle object-fit-cover"
          [alt]="person.name"
        />
        <div class="p-person-details">
          <div class="p-person-name text-main">{{ person.name }}</div>
          <div class="p-person-position">{{ person.title }}</div>
        </div>
      </div>
    </div>
    } }
  </div>
</section>
}
