@if (comments.length > 0) {
<!-- Global Filter Input -->
<div
  class="search-container p-input-icon-left search-bar"
  style="margin-bottom: 20px"
>
  <input
    type="text"
    pInputText
    [(ngModel)]="searchTerm"
    placeholder="ابحث في التعليقات والعنوان"
    (input)="onGlobalFilter(dt, $event)"
  />
  <i class="pi pi-search"></i>
</div>

<p-table
  #dt
  [value]="comments"
  [columns]="cols"
  responsiveLayout="scroll"
  [rows]="100"
  [globalFilterFields]="['blog_title', 'comment_text', 'comment_name']"
  [rowsPerPageOptions]="[100, 500, 1000]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} إدخالات"
  selectionMode="multiple"
  [rowHover]="true"
  dataKey="id"
>
  <p-toast />
  <ng-template pTemplate="header">
    <tr>
      <th>الرقم</th>
      <th>العنوان</th>
      <th>التعليق</th>
      <th>الاسم</th>
      <th>التاريخ</th>
      <th>التفاصيل</th>
      <th>التحكم</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-comment>
    <tr>
      <td>{{ comment.id }}</td>
      <td
        [pTooltip]="comment.blog_title"
        tooltipPosition="top"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        {{ comment.blog_title | slice : 0 : 50 }}...
      </td>
      <td
        [pTooltip]="comment.comment_text"
        tooltipPosition="top"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        {{ comment.comment_text | slice : 0 : 50 }}...
      </td>
      <td
        [pTooltip]="comment.comment_name"
        tooltipPosition="top"
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        {{ comment.comment_name | slice : 0 : 50 }}...
      </td>
      <td>{{ comment.comment_date | hijriDate }}</td>
      <td>
        <button
          class="btn"
          (click)="
            openBlogDetails(comment.blog_id); approveDialogVisible = true
          "
        >
          <span>التفاصيل</span>
          <i class="pi pi-search" style="margin-right: 5px"></i>
        </button>
      </td>
      <td>
        <div class="flex justify-content-center gap-2">
          <button
            *ngIf="comment.comment_status !== 1"
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-rounded p-button-success"
            (click)="openApproveDialog(comment)"
          ></button>
          <button
            *ngIf="comment.comment_status !== 0"
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-rounded p-button-danger"
            (click)="openDenyDialog(comment)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7" style="height: 50vh">
        <div
          class="w-100 h-100 d-flex justify-content-center align-items-center"
        >
          لا يوجد تعليقات ... <i class="pi pi-filter-slash"></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Confirmation Dialog for Approve -->
<p-dialog
  [draggable]="false"
  [(visible)]="approveDialogVisible"
  header="تأكيد الموافقة"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div>
    <span>هل أنت متأكد أنك تريد الموافقة على هذا التعليق؟</span>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="إلغاء"
      icon="pi pi-times"
      class="p-button-text"
      (click)="approveDialogVisible = false"
    ></button>
    <button
      pButton
      pRipple
      label="موافقة"
      icon="pi pi-check"
      class="p-button-text"
      (click)="approveComment()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Confirmation Dialog for Deny -->
<p-dialog
  [draggable]="false"
  [(visible)]="denyDialogVisible"
  header="تأكيد الرفض"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div>
    <span>هل أنت متأكد أنك تريد رفض هذا التعليق؟</span>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="إلغاء"
      icon="pi pi-times"
      class="p-button-text"
      (click)="denyDialogVisible = false"
    ></button>
    <button
      pButton
      pRipple
      label="رفض"
      icon="pi pi-times-circle"
      class="p-button-text"
      (click)="denyComment()"
    ></button>
  </ng-template>
</p-dialog>
<p-toast />
} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}

<!-- Confirmation Dialog for Approve -->
<ng-container *ngIf="approveDialogVisible">
  <p-dialog
    [draggable]="false"
    [(visible)]="approveDialogVisible"
    [modal]="true"
    [style]="{ maxwidth: '90vw' }"
  >
    <app-preview-section-comments [currentId]="currentBlog" />
    <div>
      <!-- <span>هل أنت متأكد أنك تريد الموافقة على الموضوع؟</span> -->
    </div>
    <ng-template pTemplate="footer">
      <!-- <button
        pButton
        pRipple
        label="إلغاء"
        icon="pi pi-times"
        class="p-button-text"
        (click)="approveDialogVisible = false"
      ></button> -->
      <button
        pButton
        pRipple
        label="إغلاق"
        icon="pi pi-check"
        class="p-button-text"
        (click)="approveDialogVisible = false"
      ></button>
    </ng-template>
  </p-dialog>
</ng-container>
