.desc_color {
  color: #646363;
}
section {
  background-image: url("/assets/images/pages/home/pattern03.png");
  background-size: 50% 90%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
