@if (emails) {
<p-card header="أحدث رسائل اتصل بنا" class="contact-card">
  <!-- Search Input for Global Filter -->
  <div class="p-input-icon-left search-bar">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="onGlobalFilter(table, $event)"
      placeholder="ابحث عن الاسم أو الرسالة..."
    />
  </div>

  <p-table
    #table
    [value]="emails"
    [paginator]="true"
    [rows]="1000"
    [responsive]="true"
    [sortField]="'created_at'"
    [sortOrder]="-1"
    [globalFilterFields]="['id', 'name', 'message', 'created_at']"
  >
    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pSortableColumn="id">
          ID <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th class="text-end" pSortableColumn="name">
          الاسم <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="text-end" pSortableColumn="message">
          الرسالة <p-sortIcon field="message"></p-sortIcon>
        </th>
        <th class="text-center" pSortableColumn="created_at">
          التاريخ <p-sortIcon field="created_at"></p-sortIcon>
        </th>
        <th class="text-center">إجراء</th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-email>
      @if (email.message) {
      <tr>
        <td class="text-center">{{ email.id }}</td>
        <td class="text-end">{{ email.name }}</td>
        <td class="text-end">
          <span pTooltip="{{ email.message }}" [tooltipPosition]="'top'">
            {{ email.message | slice : 0 : 20
            }}{{ email.message.length > 20 ? "..." : "" }}
          </span>
        </td>
        <td class="text-center">{{ email.created_at | hijriDate }}</td>
        <td class="text-center">
          <button
            pButton
            label="عرض التفاصيل"
            icon="pi pi-search"
            (click)="showDetails(email)"
          ></button>
        </td>
      </tr>
      }
    </ng-template>
  </p-table>
</p-card>

<!-- Modal for Email Details -->
<p-dialog
  [(visible)]="emailDialogVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  header="تفاصيل الرسالة"
  [closable]="true"
  [responsive]="true"
  [closeOnEscape]="true"
>
  @if (selectedEmail) {
  <div>
    <h3>الاسم: {{ selectedEmail.name }}</h3>
    <h5>البريد الإلكتروني: {{ selectedEmail.email }}</h5>
    <p><strong>التاريخ:</strong> {{ selectedEmail.created_at | hijriDate }}</p>
    <p><strong>رقم الهاتف:</strong> {{ selectedEmail.phone }}</p>
    <p><strong>المحتوى:</strong></p>
    <p>{{ selectedEmail.message }}</p>
    <p-footer>
      <button
        pButton
        label="إغلاق"
        icon="pi pi-times"
        (click)="emailDialogVisible = false"
      ></button>
    </p-footer>
  </div>
  }
</p-dialog>

} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}
