@if(currentYoutubeVideos) {
<section id="Home__Local__News" class="py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title">بعض من الفيديوهات الاخبارية</h2>
      <a (click)="onClickOpenYouTube()" class="cr btn btn-show-all" href="#"
        >عرض الكل</a
      >
    </header>
    <div class="row">
      <div class="col-12 col-md-9">
        <div
          (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[0].snippet.resourceId.videoId
            )
          "
          class="Logo_youtube_Mark cr"
        >
          <figure class="Logo_Water_Mark small">
            <img
              height="545px"
              class="w-100 object-fit-cover border-radius-10"
              [src]="
                currentYoutubeVideos.items[0].snippet.thumbnails.standard.url
              "
              alt="card.author"
            />
          </figure>
          <h3 class="fs-13 fw-bold mb-1 title_section">
            {{ currentYoutubeVideos.items[0].snippet.title }}
          </h3>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex justify-content-start flex-column">
        <div
          (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[1].snippet.resourceId.videoId
            )
          "
          class="Logo_youtube_Mark cr mb-2"
        >
          <figure class="Logo_Water_Mark small overflow-hidden mb-0">
            <img
              style="height: 175px !important"
              class="youTube_Image w-100 object-fit-cover border-radius-10"
              [src]="
                currentYoutubeVideos.items[1].snippet.thumbnails.standard.url
              "
              alt="card.author"
            />
          </figure>
          <!-- <div>
            <h3 class="fs-13 fw-bold mb-1 title_section">
              {{ currentYoutubeVideos.items[1].snippet.title }}
            </h3>
          </div> -->
        </div>
        <div
          (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[2].snippet.resourceId.videoId
            )
          "
          class="Logo_youtube_Mark cr mb-2"
        >
          <figure class="Logo_Water_Mark small overflow-hidden mb-0">
            <img
              style="height: 175px !important"
              class="youTube_Image w-100 object-fit-cover border-radius-10"
              [src]="
                currentYoutubeVideos.items[2].snippet.thumbnails.standard.url
              "
              alt="card.author"
            />
          </figure>
          <!-- <div>
            <h3 class="fs-13 fw-bold mb-1 title_section">
              {{ currentYoutubeVideos.items[2].snippet.title }}
            </h3>
          </div> -->
        </div>
        <div
          (click)="
            onClickOpenYouTubeVideo(
              currentYoutubeVideos.items[3].snippet.resourceId.videoId
            )
          "
          class="Logo_youtube_Mark cr mb-2"
        >
          <figure class="Logo_Water_Mark small overflow-hidden mb-0">
            <img
              style="height: 175px !important"
              class="youTube_Image w-100 object-fit-cover border-radius-10"
              [src]="
                currentYoutubeVideos.items[3].snippet.thumbnails.standard.url
              "
              alt="card.author"
            />
          </figure>
          <!-- <div>
            <h3 class="fs-13 fw-bold mb-1 title_section">
              {{ currentYoutubeVideos.items[3].snippet.title }}
            </h3>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

}
