img {
  object-position: top !important;
}
.youTube_Image {
  object-position: top;
  object-fit: cover;
}

::ng-deep iframe {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
  overflow: hidden;
}

.object-fit-cover {
  height: 100%;
}
