<app-config />

<div class="layout-wrapper" [ngClass]="containerClass">
  <app-top-bar />
  <div class="layout-sidebar">
    <app-dashboard-sidebar />
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <app-chat />
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>

<div class="bg-third footer position-relative" style="z-index: 1000">
  <div class="container py-1">
    <div>
      <div class="h-100 d-flex justify-content-center align-items-center">
        <p class="ltr">
          <a href="https://digitalbondmena.com/en" target="_blank">
            <img
              class="align-middle"
              src="./assets/images/digital_bond.png"
              role="presentation"
              width="20px"
            />
          </a>
          <span class="fw-bold align-middle mx-2 fs-13">DIGITAL BOND</span>
          <span class="align-middle fs-13"
            >جميع الحقوق محفوظة <span style="font-size: 18px">&#169;</span> 2025
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
