<app-config />

<div class="layout-wrapper" [ngClass]="containerClass">
  <app-top-bar />
  <div class="layout-sidebar">
    <app-dashboard-sidebar />
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <!-- <app-chat /> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-config></app-config>
  <div class="layout-mask"></div>
</div>

<div class="bg-third footer position-relative" style="z-index: 1000">
  <div class="container py-3">
    <div>
      <div class="h-100 d-flex justify-content-center align-items-center">
        <p class="ltr">
          <img
            class="align-middle"
            src="./assets/images/digital_bond.png"
            role="presentation"
            width="35px"
          />
          <span class="fw-bold align-middle mx-2">DIGITAL BOND</span>
          <span class="align-middle">جميع الحقوق محفوظة &commat;2025</span>
        </p>
      </div>
    </div>
  </div>
</div>
