@if (localNews) {
<section
  [ngClass]="{ 'd-none': isShowSkeleton }"
  id="Home__Local__News"
  class="bg-third py-4"
>
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title">{{ sectionTitle }}</h2>
    </header>
    <div class="row py-2 flex-row-reverse">
      <div class="col-12 col-lg-5">
        <div>
          <div class="row g-3 g-lg-2">
            <div class="col-12">
              <div
                class="bg-white border-radius-10 d-flex justify-content-evenly"
              >
                <button
                  (click)="getLocalNews(); toggleButtonsHandler(localBtn)"
                  #toggleButtons
                  #localBtn
                  class="w-100 border-radius-10 py-1 btn-main"
                >
                  الأخبار المحلية
                </button>
                <button
                  #toggleButtons
                  #randomBtn
                  (click)="getRandomNews(); toggleButtonsHandler(randomBtn)"
                  class="w-100 border-radius-10 py-1 bg-white"
                >
                  أخبار متنوعة
                </button>
              </div>
            </div>
            @for (news of localNews.blogs.data |
            slice:sliceNumber:(sliceNumber+4); track $index) {
            <div class="col-3">
              <a [routerLink]="['/details', news.post_id]" href="#">
                <div>
                  <figure class="Logo_Water_Mark small cr">
                    <img
                      height="100px"
                      class="w-100 object-fit-cover border-radius-10"
                      [src]="
                        news.post_image || './assets/images/not_found_image.jpg'
                          | imagesSrc
                      "
                      [alt]="news.post_title"
                    />
                  </figure>
                </div>
              </a>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <img
                  class="ms-1 align-middle"
                  role="presentation"
                  src="./assets/images/pages/home/loca_news/clock-rotate-left-solid.png"
                />
                <span class="align-middle text-main">{{
                  news.post_date | hijriDate
                }}</span>
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color title_section fw-bold cr">
                  {{ news.post_title }}
                </p>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <a
          [routerLink]="['/details', localNews.blogs.data[0].post_id]"
          href="#"
        >
          <div>
            <figure class="Logo_Water_Mark cr">
              <img
                height="450px"
                class="w-100 object-fit-cover border-radius-10"
                [src]="
                  localNews.blogs.data[0].post_image ||
                    './assets/images/not_found_image.jpg' | imagesSrc
                "
                alt="card.author"
              />
            </figure>
            <div
              class="row justify-content-between align-items-center mb-2 mt-3"
            >
              <h3 class="fs-13 fw-bold mb-0 col-9 text-end title_section cr">
                {{ localNews.blogs.data[0].post_title | stringSlice : 80 }}
              </h3>
              <p class="mb-0 date_color fw-bold fs-13 col-3 text-start">
                <img
                  class="ms-1 align-middle"
                  style="398px"
                  src="./assets/images/pages/home/loca_news/clock-rotate-left-solid.png"
                  role="presentation"
                />
                <span class="align-middle text-dark text-main">{{
                  localNews.blogs.data[0].post_date | hijriDate
                }}</span>
              </p>
            </div>
            <div>
              <p
                class="mb-0 fs-13 desc_color fw-bold title_section"
                [innerHTML]="
                  localNews.blogs.data[0].post_content
                    | stringSlice : 150
                    | safeHtml
                "
              ></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
}
<!-- skeleton -->
@if(isShowSkeleton ) { @defer {
<section id="Home__Local__News" class="bg-third py-4">
  <div class="container">
    <header class="d-flex justify-content-between">
      <h2 class="section__title">{{ sectionTitle }}</h2>
    </header>
    <div class="row py-2 flex-row-reverse">
      <div class="col-12 col-lg-5">
        <div>
          <div class="row g-3 g-lg-2">
            <div class="col-12">
              <div
                class="bg-white border-radius-10 d-flex justify-content-evenly"
              >
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100%',
                    height: '35px',
                    background: 'lightgray'
                  }"
                />
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100%',
                    height: '35px',
                    background: 'lightgray'
                  }"
                />
              </div>
            </div>
            <div class="col-3">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '100px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
              </div>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40%',
                    height: '20px',
                    background: 'lightgray'
                  }"
                />
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color fw-bold">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '20px',
                      background: 'lightgray'
                    }"
                  />
                </p>
              </div>
            </div>
            <div class="col-3">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '100px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
              </div>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40%',
                    height: '20px',
                    background: 'lightgray'
                  }"
                />
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color fw-bold">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '20px',
                      background: 'lightgray'
                    }"
                  />
                </p>
              </div>
            </div>
            <div class="col-3">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '100px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
              </div>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40%',
                    height: '20px',
                    background: 'lightgray'
                  }"
                />
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color fw-bold">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '20px',
                      background: 'lightgray'
                    }"
                  />
                </p>
              </div>
            </div>
            <div class="col-3">
              <div>
                <figure class="Logo_Water_Mark small cr">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '100px',
                      background: 'lightgray'
                    }"
                  />
                </figure>
              </div>
            </div>
            <div class="col-9">
              <p class="date_color fw-bold fs-13">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40%',
                    height: '20px',
                    background: 'lightgray'
                  }"
                />
              </p>
              <div>
                <p class="mb-0 fs-13 desc_color fw-bold">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '20px',
                      background: 'lightgray'
                    }"
                  />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div>
          <figure class="Logo_Water_Mark cr">
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                height: '450px',
                background: 'lightgray'
              }"
            />
          </figure>
          <div class="row justify-content-between align-items-center mb-2 mt-3">
            <h3 class="fs-13 fw-bold mb-0 col-9 text-end text-main">
              <ngx-skeleton-loader
                [theme]="{
                  width: '100%',
                  height: '20px',
                  background: 'lightgray'
                }"
              />
            </h3>
            <p class="mb-0 date_color fw-bold fs-13 col-3 text-start">
              <ngx-skeleton-loader
                [theme]="{
                  width: '100%',
                  height: '20px',
                  background: 'lightgray'
                }"
              />
            </p>
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                width: '100%',
                height: '20px',
                background: 'lightgray'
              }"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
} }
