<p-card header="أحدث المواضيع">
  <p-table
    [value]="latestBlogs"
    [rows]="5"
    scrollable="true"
    [style]="{ 'max-width': '100%' }"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <i class="pi pi-bookmark" style="margin-right: 5px"></i> العنوان
        </th>
        <th class="text-center d-flex align-items-center text-nowrap">
          <i class="pi pi-calendar" style="margin-right: 5px"></i> تاريخ النشر
        </th>
        <th class="text-center">
          <i class="pi pi-eye" style="margin-right: 5px"></i>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
      <tr>
        <td
          class="col-6"
          style="
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          "
          pTooltip="{{ article.post_title }}"
          tooltipPosition="top"
        >
          {{ article.post_title }}
        </td>
        <td
          class="col-2 text-center"
          style="max-width: 150px"
          pTooltip="{{ article.created_at | hijriDate }} تاريخ النشر"
          tooltipPosition="top"
        >
          {{ article.created_at | hijriDate }}
        </td>
        <td class="col-1 text-center" style="width: 15%">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-search"
            class="p-button p-component p-button-text p-button-icon-only"
            aria-label="Preview Article"
            pTooltip="معاينة الموضوع"
            tooltipPosition="top"
            [routerLink]="['/details', article.ar_slug]"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center"
          >
            لا يوجد بيانات ... <i class="pi pi-filter-slash"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
