<section id="Last__Banner">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-3">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-160"
              src="/assets/images/pages/home/video_section/2.png"
              alt="card.author"
            />
          </figure>
          <div>
            <h3 class="fs-13 fw-bold mb-1">
              الرغبة فى استضافة كأس العالم 2034 و جهود السعودية فى نشر السلام
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-160"
              src="/assets/images/pages/home/video_section/2.png"
              alt="card.author"
            />
          </figure>
          <div>
            <h3 class="fs-13 fw-bold mb-1">
              الرغبة فى استضافة كأس العالم 2034 و جهود السعودية فى نشر السلام
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-160"
              src="/assets/images/pages/home/video_section/2.png"
              alt="card.author"
            />
          </figure>
          <div>
            <h3 class="fs-13 fw-bold mb-1">
              الرغبة فى استضافة كأس العالم 2034 و جهود السعودية فى نشر السلام
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div>
          <figure class="Logo_Water_Mark small">
            <img
              class="w-100 object-fit-cover border-radius-10 h-160"
              src="/assets/images/pages/home/video_section/2.png"
              alt="card.author"
            />
          </figure>
          <div>
            <h3 class="fs-13 fw-bold mb-1">
              الرغبة فى استضافة كأس العالم 2034 و جهود السعودية فى نشر السلام
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
