<router-outlet></router-outlet>
<!-- <ngx-spinner
  bdColor="white"
  size="default"
  color="var(--secondary-color-green)"
  type="ball-beat"
  [showSpinner]="true"
  [disableAnimation]="true"
  [fullScreen]="true"
>
  <span class="d-block d-block mx-auto text-center translate-middle-y">
    <img
      width="250px"
      class="object-fit-contain bg-white"
      src="./assets/favicon_io/android-chrome-512x512.png"
      alt="Spinner loading logo EHA"
    /> </span
></ngx-spinner> -->

<!-- <div class="lightBox position-absolute bg-white top-0 left-0 w-100 h-100  justify-content-center align-items-center" style="z-index: 9999999;">
  <div class="lightBoxcontent text-center">
    <img src="./assets/favicon_io/android-chrome-192x192.png" role="presentation" style="width: 75px;" class="d-block">
    <span class="loader"></span>
  </div>
</div> -->
