<section id="Home__Banner" class="bg-third py-4 text-center">
  <div class="container">
    <div class="row justify-content-evenly g-4 g-lg-0">
      <div class="col-6 col-lg-2 mb-3 mb-sm-0">
        <div class="row g-2 text-center align-items-center">
          <div class="col-4">
            <img
              src="./assets/images/banner_icons/website_views.svg"
              alt="website views"
            />
          </div>
          <div class="col-8 text-end">
            <p class="mb-0 fs-13 fw-bold">عدد زيارات الموقع</p>
            <p class="mb-0 fs-11 fw-semibold Inter-font">4500000</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-sm-0">
        <div class="row g-2 text-center align-items-center">
          <div class="col-4">
            <img src="./assets/images/banner_icons/weather.svg" alt="weather" />
          </div>
          <div class="col-8 text-end">
            <p class="mb-0 fs-13 fw-bold">حالة الطقس</p>
            <p
              [innerHTML]="currentTemp | safeHtml"
              class="mb-0 fs-11 fw-semibold Inter-font"
            ></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-sm-0">
        <div class="row g-2 text-center align-items-center">
          <div class="col-4">
            <img src="./assets/images/banner_icons/clock.svg" alt="weather" />
          </div>
          <div class="col-8 text-end">
            <p class="mb-0 fs-13 fw-bold">التوقيت</p>
            <p class="mb-0 fs-11 fw-semibold">
              {{ staticDate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-sm-0">
        <div class="row g-2 text-center align-items-center">
          <div class="col-4">
            <img
              src="./assets/images/banner_icons/people.svg"
              alt="التعداد السكاني"
            />
          </div>
          <div class="col-8 text-end">
            <p class="mb-0 fs-13 fw-bold">التعداد السكانى {{ year }}</p>
            <p class="mb-0 fs-11 fw-semibold">{{ currentPopulation }} مليون</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-sm-0">
        <div class="row g-2 text-center align-items-center">
          <div class="col-4">
            <img
              src="./assets/images/banner_icons/money.svg"
              alt="1 USD vs SAR"
            />
          </div>
          <div class="col-8 text-end">
            <p class="mb-0 fs-13 fw-bold">سعر الصرف</p>
            <p class="mb-0 fs-11 fw-semibold ltr">1 USD = {{ sar }} SAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
