<app-blank-navbar />
<section id="Hero__Section" class="mt-4">
  <div class="container">
    <div class="row g-4 g-lg-3">
      <div class="p-2 col-12 col-lg-9 order-1 order-lg-1">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="p-2 col-12 col-lg-3 order-0 order-lg-1 position-relative">
        <div>
          <div
            class="hero_height main_animation border-radius-10 overflow-hidden Logo_Water_Mark"
          >
            <img
              class="w-100 object-fit-cover main_animation"
              src="./assets/images/pages/home/Hero_Section/main_hero.png"
              alt="carousel"
            />
          </div>
        </div>
        <div class="main-content">
          <p class="fw-bold fs-13 my-2">
            خطوات رائدة فى مواجهه التصحر و الجفاف فى الرياض
          </p>
          <p
            (click)="onClickGetLastEditorNewsId()"
            class="cr fw-bold fs-13 text-main border-color-main border border-2 border-radius-10 p-3 text-center fs-13"
          >
            زاوية رئيس التحرير : سلمان بن أحمد العيد
          </p>
        </div>

        <div>
          <app-advertising-area
            [positionClasses]="
              'd-flex justify-content-center flex-column  align-items-center gap-5 h-600 btn-large'
            "
          />
        </div>
      </div>
    </div>
  </div>
</section>
<app-related-content [isRandom]="true" />
