@if (employees.length > 0) {
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <button
        pButton
        pRipple
        label="إضافة "
        icon="pi pi-plus"
        class="btn-main col-4"
        style="margin-bottom: 10px; padding-block: 16px !important"
        (click)="openAddEmployeeDialog()"
      ></button>
      <p-table
        #dt
        [value]="employees"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="100"
        [globalFilterFields]="['name']"
        [rowsPerPageOptions]="[100, 500, 1000]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} إدخالات"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">الهيكل الاداري</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                #globalFilter
                pInputText
                type="text"
                placeholder="ابحث..."
                class="w-full sm:w-auto"
                (input)="dt.filterGlobal(globalFilter.value, 'contains')"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" class="text-center">
              معرف <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>اسم الموظف</th>
            <th>الوظيفة</th>
            <th pSortableColumn="status">
              الحالة <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th>تاريخ الإنشاء</th>
            <th>تاريخ التحديث</th>
            <th class="text-center">التحكم</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-employees>
          <tr>
            <td class="col-1 text-center">{{ employees.id }}</td>
            <td class="col-3">{{ employees.name }}</td>
            <td class="col-2">{{ employees.title }}</td>
            <td class="col-2">
              <p-inputSwitch
                [(ngModel)]="employees.status"
                [trueValue]="1"
                [falseValue]="0"
                (onChange)="toggleStatus(employees)"
              />
            </td>
            <td class="col-2">{{ employees.created_at | hijriDate }}</td>
            <td class="col-2">{{ employees.updated_at | hijriDate }}</td>
            <td class="col-1">
              <div class="flex justify-content-center gap-2">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="openEditEmployeeDialog(employees)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" style="height: 50vh">
              <div
                class="w-100 h-100 d-flex justify-content-center align-items-center"
              >
                لا يوجد طاقم إدارة ... <i class="pi pi-filter-slash"></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Employee Dialog for Adding and Editing -->
    <p-dialog
      [(visible)]="employeeDialog"
      [style]="{ width: '450px' }"
      header="تفاصيل الموظف"
      [modal]="true"
      class="p-fluid"
      [draggable]="false"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">اسم الموظف</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="selectedEmployee.name"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !selectedEmployee.name
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !selectedEmployee.name"
            >اسم مطلوب.</small
          >
        </div>

        <div class="field">
          <label for="title">الوظيفة</label>
          <input
            type="text"
            pInputText
            id="title"
            [(ngModel)]="selectedEmployee.title"
            required
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !selectedEmployee.title
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !selectedEmployee.title"
            >الوظيفة مطلوبة.</small
          >
        </div>

        <div class="field">
          <label for="image">صورة الموظف</label>
          <input
            type="file"
            pInputText
            id="image"
            (change)="onFileSelect($event)"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="إلغاء"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="حفظ"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveEmployee()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}
