@if (privacy_policy) {
<section id="Contact__Us" class="py-5 bg-light">
  <header class="container mb-5 d-flex gap-3 align-items-center">
    <p class="mb-0">
      اخر تحديث في
      <span class="text-main">{{ privacy_policy.updated_at | hijriDate }}</span>
      <i class="pi pi-calendar"></i>
    </p>
    <!-- Toggle Edit Button -->
    @if (isEditing) {
    <button
      pButton
      type="button"
      label="حفظ التغييرات"
      icon="pi pi-save"
      (click)="saveChanges()"
    ></button>
    } @else {
    <button
      pButton
      type="button"
      label="تعديل"
      icon="pi pi-pencil"
      (click)="toggleEditing()"
    ></button>
    }
    <p-toast />
  </header>

  <div class="container shadow-sm rounded p-4 bg-white">
    <!-- Slogan -->
    @if (isEditing) {
    <p-editor
      [modules]="editorModules"
      styleClass="text-start"
      [(ngModel)]="privacy_policy.privacy_title"
    ></p-editor>
    } @else {
    <h2
      class="text-main fw-bold text-center mb-4"
      [innerHTML]="privacy_policy.privacy_title | safeHtml"
    ></h2>
    } @if (isEditing) {
    <p-editor
      [modules]="editorModules"
      styleClass="text-start"
      [(ngModel)]="privacy_policy.privacy_text"
    ></p-editor>
    } @else {
    <p
      class="fs-18 text-muted mb-4"
      [innerHTML]="privacy_policy.privacy_text | safeHtml"
    ></p>
    }
  </div>
</section>

} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}
