/* Ensure font family and size */
:host * {
  font-size: 20px;
  line-height: 2;
  font-family: "Cairo", sans-serif; /* Add appropriate Arabic-friendly font */
}

section {
  background-image: url("/assets/images/about_us/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
}

.container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

p-editor {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.text-main {
  color: #333333;
}

.fs-18 {
  font-size: 18px;
}

.text-muted {
  color: #6c757d;
  word-wrap: break-word; /* Ensure long words wrap properly */
}

button {
  margin-left: 10px;
}

/* Additional Styles for RTL */
[dir="rtl"] {
  text-align: right;
  direction: rtl;
}

@media (max-width: 768px) {
  /* Ensure the layout works well on small screens */
  .container {
    padding: 0.5rem;
  }
}

::ng-deep .jodit-status-bar-link {
  display: none;
}
