<section id="Contact__Us" class="py-5">
  <div class="container">
    <p class="fs-20">
      صحيفة اخبارية سعودية تلتزم بثوابت الدين و الوطن و تعبر عن شرائح المجتمع
      المختلفة دون تمييز لها رؤيتها الواضحة و رسالتها المحددة و منهجها المحافظ
      تحرص على المهنية فى الاداء و الشفافية و الموضوعية فى الطرح كما نعمل جاهدين
      بتوفيق الله على تلمس اختياجات المواطن و ايصال صوته الى المسؤول مباشرة
      متخطين الروتين الممل و المعقد من اجل الوصول الى الهدغ المنشودبأقصر الطرق و
      بمدة زمنية قصيرة و بما يحقق الرفاهيه للمواطن غى المدينة و القرية و الهجرة
    </p>
    <h2 class="text-main fw-bold my-4">شعارنا منكم و اليكم</h2>
    <h3 class="fw-bold my-4">رؤيتنا</h3>
    <p class="fs-20">
      النهوض بالمعارف الاعلامية و تحقيق الريادة و التمييز على كل الاصعدة اسهاما
      فى النهضة الوطنية و التنمية الشاملة
    </p>
    <h4 class="fw-bold my-4">رسالتنا</h4>
    <P
      >تنمية القطاع من خلال بناء القدرات العلمية فى مجال الاعلام و الاتصال
      الجماهيري و تطوير الاداء من خلال تنشئة كوادر متميزة تسهم فى الحفاظ على
      هوية الامة و ثقافة المجتمع و دعم المخترعين و المبتكرين من خلال ابراز
      ابداعاتهم</P
    >
    <h5 class="fw-bold my-4">الاهداف</h5>
    <ol class="p-0 pe-3 m-0">
      <li class="fs-20">
        المشاركة فى المناسبات الوطنية و المبادرات المحلية ز الانشطة المختلفة فى
        خدمة المجتمع
      </li>
      <li class="fs-20">تعزيز خطوط التواصل فى المجتمع</li>
      <li class="fs-20">
        تطوير المهارات بما يستحب للمتطلبات المهنية و الوظيفية
      </li>
      <li class="fs-20">الكشف عن المواهب الكتابية العامة و للشباب خاصة</li>
      <li class="fs-20">تفعيل دور الشراكة و جذب مؤسسات المجتمع المختلفة</li>
      <li class="fs-20">
        ابراز الشباب السعودى المخترع و المبتكر و المبدع و دعمهم
      </li>
      <li class="fs-20">
        تقديم برامج تسهم غر رفع الكفاءة و الفعالية العالية و تعزز روح التعاون
        الايجابى و تنمى القدرة على تحمل المسئولية من خلال داء المهام المختلفة
      </li>
    </ol>
  </div>
</section>
