<app-blank-navbar />
<section id="Contact__Us" class="py-5">
  <div class="container">
    <p class="fs-20">
      {{ aboutUsContent.main }}
    </p>
    <h2 class="text-main fw-bold my-4">{{ aboutUsContent.slogan }}</h2>
    <h3 class="fw-bold my-4">{{ aboutUsContent.first_title }}</h3>
    <p class="fs-20">
      {{ aboutUsContent.first_title_content }}
    </p>
    <h4 class="fw-bold my-4">{{ aboutUsContent.first_title_content }}</h4>
    <P>{{ aboutUsContent.second_title }}</P>
    <h5 class="fw-bold my-4">{{ aboutUsContent.third_title }}</h5>
    <ol class="p-0 pe-3 m-0">
      @for (item of aboutUsContent.third_title_content; track $index) {
      <li class="fs-20">
        {{ item }}
      </li>
      }
    </ol>
  </div>
</section>
