@import "variables";

/* Handle Sections */

.hero_height {
  height: 464px;
}
img {
  object-position: top;
}

/* Handle owl Carousel */
::ng-deep .owl-dots {
  position: absolute;
  z-index: 99;
  bottom: 20px;
  left: 20px;
  margin: 3px;
  margin: 0 !important;
}
::ng-deep .owl-dot.active span {
  background-color: $main-color !important;
}
::ng-deep .owl-dot {
  background-color: $third-color;
  padding: 2px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 3px !important;
}
::ng-deep .owl-dot span {
  padding: 0px !important;
  margin: 0px !important;
  background-color: $third-color !important;
}
::ng-deep .owl-stage {
  position: relative;
}

::ng-deep .carousel__content {
  position: relative;
}
::ng-deep .carousel__content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  height: 100%;
  width: 5px;
  background: #b69b2f;
  border-radius: 5px;
}

.card {
  padding: 0px !important;
}
