<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>

      <p-table
        #dt
        [value]="blogs"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="100"
        [globalFilterFields]="['post_title', 'author_name']"
        [paginator]="true"
        [rowsPerPageOptions]="[100, 500, 1000]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} إدخالات"
        [(selection)]="selectedBlogs"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="post_id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">إدارة المقالات</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="ابحث..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="post_id" class="text-center">
              معرف <p-sortIcon field="post_id"></p-sortIcon>
            </th>
            <th>العنوان</th>
            <th>المؤلف</th>
            <th pSortableColumn="post_date">
              التاريخ <p-sortIcon field="post_date"></p-sortIcon>
            </th>
            <th>القسم</th>
            <th class="text-center">التعديل</th>
            <th class="text-center">الحالة</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-blog>
          <tr>
            <td class="col-1 text-center">
              <span class="p-column-title">معرف</span>
              {{ blog.post_id }}
            </td>
            <td
              class="col-4"
              style="
                max-width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
              pTooltip="{{ blog.post_title }}"
              tooltipPosition="top"
            >
              <span class="p-column-title">العنوان</span>
              {{ blog.post_title }}
            </td>

            <td
              class="col-2"
              pTooltip="{{ blog.author_name }}"
              tooltipPosition="top"
            >
              <span class="p-column-title">المؤلف</span>
              {{ blog.author_name | slice : 0 : 25 }}
              <!-- Trim to first 25 characters -->
            </td>

            <td class="col-1">
              <span class="p-column-title">التاريخ</span>
              {{ blog.post_date | hijriDate }}
            </td>
            <td
              class="col-1"
              pTooltip="{{ formatToolTip(blog.category) }}"
              tooltipPosition="top"
              style="
                max-width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              <span class="p-column-title">القسم</span>
              {{ formatToolTip(blog.category) }}
            </td>
            <td class="col-1">
              <div class="flex justify-content-center gap-2">
                <!-- Edit Button -->
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success"
                  (click)="editBlog(blog)"
                ></button>
              </div>
            </td>
            <td class="col-1">
              <div class="flex justify-content-center gap-2">
                <!-- Switch Input to Publish/Archive -->
                <p-inputSwitch
                  [(ngModel)]="blog.publish_status"
                  [trueValue]="1"
                  [falseValue]="0"
                  (onChange)="toggleBlogStatus(blog)"
                ></p-inputSwitch>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Blog Dialog for Editing -->
    <p-dialog
      [(visible)]="blogDialog"
      [style]="{ width: '450px' }"
      header="تفاصيل المقال"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="post_title">العنوان</label>
          <input
            type="text"
            pInputText
            id="post_title"
            [(ngModel)]="blog.post_title"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !blog.post_title
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !blog.post_title"
            >العنوان مطلوب.</small
          >
        </div>
        <div class="field">
          <label for="post_content">المحتوى</label>
          <textarea
            id="post_content"
            pInputTextarea
            [(ngModel)]="blog.post_content"
            required
            rows="3"
            cols="20"
          ></textarea>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="إلغاء"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="حفظ"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveBlog()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
