<app-blank-navbar />
@if (IBlogs) {
<section id="Hero__Section" class="mt-4">
  <div class="container">
    <div class="row g-4 g-lg-3 align-items-stretch">
      <div class="p-2 col-12 col-lg-8 order-1 order-lg-1">
        @if (IBlogs) {
        <div>
          <div>
            <figure class="Logo_Water_Mark">
              <img
                style="object-position: top"
                class="w-100 object-fit-cover border-radius-10 h-600"
                [src]="
                  IBlogs.blog.post_image ||
                    './assets/images/not_found_image.jpg' | imagesSrc
                "
                alt="card.author"
              />
            </figure>

            <div
              class="d-flex justify-content-between align-items-center mb-2 mt-3"
            >
              <p class="mb-0 date_color fw-bold fs-13">
                <img
                  width="35px"
                  height="35px"
                  src="./assets/images/new_logos/logo_blue_no_text.png"
                  alt="أصداء الخليج"
                />
                {{
                  IBlogs.blog.author_name === "admin"
                    ? ""
                    : IBlogs.blog.author_name
                    ? IBlogs.blog.author_name
                    : "أصداء الخليج"
                }}
              </p>
              <div class="d-flex gap-2 social-icons">
                <share-buttons
                  [exclude]="[
                    'print',
                    'viber',
                    'vk',
                    'tumblr',
                    'pinterest',
                    'xing',
                    'line',
                    'mix',
                    'reddit',
                    'linkedin',
                    'sms'
                  ]"
                  [url]="currentUrl"
                  show="11"
                  [image]="
                    IBlogs.blog.post_image ||
                      './assets/images/not_found_image.jpg' | imagesSrc
                  "
                  [title]="IBlogs.blog.post_title"
                  [description]="decodeHtml(IBlogs.blog.post_content)"
                />
              </div>
            </div>

            <h1 class="text-main fs-13 fw-bold my-3 mb-1 fs-5">
              {{ IBlogs.blog.post_title }}
            </h1>
            <h2 class="text-dark text-opacity-75 fs-13 fw-bold my-3 mb-1 fs-5">
              {{ IBlogs.blog.post_subtitle ?? "" }}
            </h2>

            <div
              class="d-flex justify-content-between align-items-center mb-2 mt-3"
            >
              <span></span>
              <p class="mb-0 date_color fw-bold fs-5">
                {{ IBlogs.blog.post_date | hijriDate }}
              </p>
            </div>

            <div>
              <p
                #content
                id="content"
                class="mb-0 fs-13 desc_color fw-bold content"
                [innerHTML]="IBlogs.blog.post_content | safeHtml"
              ></p>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="p-2 col-12 col-lg-4 order-0 order-lg-1">
        <div class="d-flex flex-column h-100">
          <div class="">
            <div>
              <div
                class="hero_height border-radius-10 overflow-hidden Logo_Water_Mark"
              >
                <img
                  class="w-100 object-fit-cover main_animation"
                  src="./assets/images/pages/home/Hero_Section/سلمان-بن-أحمد-العيد.jpg"
                  alt="carousel"
                />
              </div>
            </div>

            <div class="main-content">
              <p class="fw-bold fs-13 my-2">
                {{ masterBlog?.blogs[0]?.post_title }}
              </p>
              <p
                [routerLink]="['/archives/blogs', '10']"
                class="cr fw-bold text-center fs-13 text-main border-color-main border border-2 border-radius-10 p-3 text-center fs-13"
              >
                زاوية رئيس التحرير : سلمان بن أحمد العيد
              </p>
            </div>
          </div>

          <div class="flex-grow-1 my-3">
            <div class="h-600 sticky_content-20">
              <app-advertising-area
                [positionClasses]="
                  'd-flex justify-content-center flex-column fs-4  align-items-center gap-5 h-100 btn-large '
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}
