<app-blank-navbar />
<section id="Hero__Section" class="mt-4">
  <div class="container">
    <div class="row g-4 g-lg-3">
      <div class="p-2 col-12 col-lg-8 order-1 order-lg-1">
        <div>
          @if (IBlogs) {
          <div>
            <figure class="Logo_Water_Mark">
              <img
                class="w-100 object-fit-cover border-radius-10"
                [src]="IBlogs.blog.post_image"
                alt="card.author"
              />
            </figure>
            <h3
              class="text-main fs-13 fw-bold mt-2 mb-1 text-decoration-underline"
            >
              {{ IBlogs.blog.post_title }}
            </h3>
            <div
              class="d-flex justify-content-between align-items-center mb-2 mt-3"
            >
              <p class="mb-0 date_color fw-bold fs-13">
                {{ IBlogs.blog.post_date | date }}
              </p>
            </div>
            <div>
              <p
                class="mb-0 fs-13 desc_color fw-bold"
                [innerHTML]="IBlogs.blog.post_content"
              ></p>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="p-2 col-12 col-lg-4 order-0 order-lg-1 position-relative">
        <div>
          <div
            class="hero_height main_animation border-radius-10 overflow-hidden Logo_Water_Mark"
          >
            <img
              class="w-100 object-fit-cover main_animation"
              src="/assets/images/pages/home/Hero_Section/سلمان-بن-أحمد-العيد-.-1.png"
              alt="carousel"
            />
          </div>
        </div>
        <div class="main-content">
          <p class="fw-bold fs-13 my-2">
            خطوات رائدة فى مواجهه التصحر و الجفاف فى الرياض
          </p>
          <p
            class="fw-bold fs-13 text-main border-color-main border border-2 border-radius-10 p-3 text-center fs-13"
          >
            زاوية رئيس التحرير : سلمان بن أحمد العيد
          </p>
        </div>

        <div style="height: 600px">
          <app-advertising-area
            [positionClasses]="
              'd-flex justify-content-center flex-column fs-4  align-items-center gap-5 h-100 btn-large'
            "
          />
        </div>
      </div>
    </div>
  </div>
</section>
<app-related-content />
<app-home-videos />
<app-last-banner />
