<section
  id="Contact__Us"
  class="py-5 d-flex flex-column justify-content-between min-h-90vh"
>
  <div class="container">
    <p
      contenteditable="true"
      class="fs-20"
      (blur)="updateContent('main', $event)"
    >
      {{ aboutUsContent.main }}
    </p>
    <h2
      contenteditable="true"
      class="text-main fw-bold my-4"
      (blur)="updateContent('slogan', $event)"
    >
      {{ aboutUsContent.slogan }}
    </h2>
    <h3
      contenteditable="true"
      class="fw-bold my-4"
      (blur)="updateContent('first_title', $event)"
    >
      {{ aboutUsContent.first_title }}
    </h3>
    <p
      contenteditable="true"
      class="fs-20"
      (blur)="updateContent('first_title_content', $event)"
    >
      {{ aboutUsContent.first_title_content }}
    </p>
    <h4
      contenteditable="true"
      class="fw-bold my-4"
      (blur)="updateContent('second_title', $event)"
    >
      {{ aboutUsContent.second_title }}
    </h4>
    <h5
      contenteditable="true"
      class="fw-bold my-4"
      (blur)="updateContent('third_title', $event)"
    >
      {{ aboutUsContent.third_title }}
    </h5>
    <ol class="p-0 pe-3 m-0">
      @for (item of aboutUsContent.third_title_content; track $index) {
      <li
        contenteditable="true"
        class="fs-20"
        (blur)="updateListContent($index, $event)"
      >
        {{ item }}
      </li>
      }
    </ol>
  </div>
  <div class="my-3">
    <button class="btn-main px-3 py-2">حفظ التعديل</button>
  </div>
</section>
