@if (aboutUsContent) {
<section id="Contact__Us" class="py-5">
  <header class="container mb-5 d-flex gap-3 align-items-center">
    <p class="mb-0">
      اخر تحديث في
      <span  class="text-main">{{
        aboutUsContent.updated_at | hijriDate
      }}</span>
      <i  class="pi pi-calendar"></i>
    </p>
    <!-- Toggle Edit Button -->
    @if (isEditing) {
      <button pButton  type="button" label="حفظ التغييرات" icon="pi pi-save" (click)="saveChanges()"></button>
    } @else {
      <button pButton  type="button" label="تعديل" icon="pi pi-pencil" (click)="toggleEditing()"></button>
    }
    <p-toast />
  </header>

  <div class="container">
    <h1 class="fw-bold fs-20 text-main">
      @if (isEditing) {
        <p-editor [modules]="editorModules" styleClass="text-start" [(ngModel)]="aboutUsContent.about_title"></p-editor>
      } @else {
        <p [innerHTML]="aboutUsContent.about_title | safeHtml"></p>
      }
      
    </h1>





    <h2 class="my-4">
      @if (isEditing) {
        <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_text"></p-editor>

      }
      @else {
        <p [innerHTML]="aboutUsContent.about_text | safeHtml"></p>
      }
    </h2>

    <h3 class="fw-bold my-4 text-main">
      @if (isEditing) {
        <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_second_title"></p-editor>

      }
      @else {
        <p [innerHTML]="        aboutUsContent.about_second_title | safeHtml
        "></p>
      }

    </h3>

    <p class="fs-20">
      @if (isEditing) {
        <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_second_text"></p-editor>

      }
      @else {
        <p [innerHTML]="        aboutUsContent.about_second_text | safeHtml
        "></p>
      }

    </p>
    <h4 class="fw-bold my-4 text-main">
    @if (isEditing) {
      <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_third_title"></p-editor>
    }
    @else {
      <p [innerHTML]="aboutUsContent.about_third_title | safeHtml"></p>
    }
    </h4>
    
    <p>
      @if (isEditing) {
        <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_third_text"></p-editor>
      }
      @else {
        <p [innerHTML]="aboutUsContent.about_third_text | safeHtml"></p>
      }
    </p>

    <h6 class="fw-bold my-4 text-main">
    @if (isEditing) {
      <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_fourth_title"></p-editor>
    }
    @else {
      <p [innerHTML]="aboutUsContent.about_fourth_title | safeHtml"></p>
    }
    </h6>

    <p>
      @if (isEditing) {
        <p-editor  [modules]="editorModules" [(ngModel)]="aboutUsContent.about_fourth_text"></p-editor>
      }
      @else {
        <p [innerHTML]="aboutUsContent.about_fourth_text | safeHtml"></p>
      }
    </p>
  </div>
</section>

}
@else {
  <div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
    جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
  </div>
  }