@if (aboutUsContent) {
<section id="About_Us" class="py-5">
  <header class="container mb-5 d-flex gap-3 align-items-center">
    <p class="mb-0">
      اخر تحديث في
      <span class="text-main">{{ aboutUsContent.updated_at | hijriDate }}</span>
      <i class="pi pi-calendar"></i>
    </p>
    <!-- Toggle Edit Button -->
    <button
      *ngIf="!isEditing"
      pButton
      type="button"
      label="تعديل"
      icon="pi pi-pencil"
      (click)="toggleEditing()"
    ></button>
    <button
      *ngIf="isEditing"
      pButton
      type="button"
      label="حفظ التغييرات"
      icon="pi pi-save"
      (click)="saveChanges()"
    ></button>
  </header>

  <div class="container">
    <!-- About Title -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_title"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <h1
        class="fw-bold fs-20 text-main"
        [innerHTML]="aboutUsContent.about_title | safeHtml"
      ></h1>
    </div>

    <!-- About Text -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_text"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <p [innerHTML]="aboutUsContent.about_text | safeHtml"></p>
    </div>

    <!-- About Second Title -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_second_title"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <h3
        class="fw-bold my-4 text-main"
        [innerHTML]="aboutUsContent.about_second_title | safeHtml"
      ></h3>
    </div>

    <!-- About Second Text -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_second_text"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <p [innerHTML]="aboutUsContent.about_second_text | safeHtml"></p>
    </div>

    <!-- About Third Title -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_third_title"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <h4
        class="fw-bold my-4 text-main"
        [innerHTML]="aboutUsContent.about_third_title | safeHtml"
      ></h4>
    </div>

    <!-- About Third Text -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_third_text"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <p [innerHTML]="aboutUsContent.about_third_text | safeHtml"></p>
    </div>

    <!-- About Fourth Title -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_fourth_title"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <h6
        class="fw-bold my-4 text-main"
        [innerHTML]="aboutUsContent.about_fourth_title | safeHtml"
      ></h6>
    </div>

    <!-- About Fourth Text -->
    <div *ngIf="isEditing">
      <ngx-jodit
        [(ngModel)]="aboutUsContent.about_fourth_text"
        [attr.config]="editorConfig"
      ></ngx-jodit>
    </div>
    <div *ngIf="!isEditing">
      <p [innerHTML]="aboutUsContent.about_fourth_text | safeHtml"></p>
    </div>
  </div>
</section>
} @else {
<div class="w-100 min-h-50vh d-flex justify-content-center align-items-center">
  جار تحميل البيانات ... <i class="pi pi-spin pi-spinner"></i>
</div>
}
