:host * {
  font-size: 20px;
  line-height: 2;
}
section {
  background-image: url("/assets/images/about_us/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
}

::ng-deep .ql-editor {
  text-align: right;
}
